<div class='id modal-content' data-name="event" 
         id="event-edit" 
         data-id="{{ event.id }}" 
         data-recurrenceid="{{ event.recurrenceid }}">
         <div id="event-news-container">
            <div id="event-news"></div>
        </div>
    <div id="modal-event">
        <div class="upper-div-collection">
            <div id="summary-div">
                <label>Summary</label>
                <div contenteditable class="this focusable" style="font-size: 1.75rem;" name="summary" type="text">{{ event.summary | safe }}</div>
            </div>
            <div id="amount-div">
                <label>Amount</label>
                <input class="this focusable" type="number" id="event-amount" name="amount" value="{{ event.amount }}" />
            </div>
        </div>
        <div id="time-container">
            <div id="frequency-container">
                <label>Frequency</label>
                <div class="td select-container focusable">
                    <input name="frequency" 
                            value="{{ event.frequency }}"
                            class="select focusable" 
                            type="text" 
                            placeholder="frequency" 
                            data-option="" 
                            data-options="{{ FREQUENCIES }}"
                            data-weekly-graphic-text="MTWThFSaS"
                            data-biweekly-graphic-text="2 MTWThFSaS"
                            data-monthly-graphic-text="Jan-Dec"
                            data-yearly-graphic-text="1988 - 2048">
                </div>
                <div class="recurrenceid focusable" style="width: 80%; text-align: justify; font-family: Charter; font-size: 0.666rem;">{{ event.recurrenceid }}</div>
            </div>
            <div id="date-container">
                <div>
                    <label style="color: #053147">Date</label>
                    <input name="date" class="td focusable" type="date" value="{{ datetime.now().strftime('%Y-%m-%d') if event.date == None else event.date }}">
                </div>
                <div>
                    <label>End Date</label>
                    <input name="recurrenceenddate" class="td focusable" type="date" value="{{ datetime.now().strftime('%Y-%m-%d') if event.date == None else event.date }}">
                </div>
            </div>
        </div>
    </div>
    <div class="button-footer">
        <button id="save-this-event" class="focusable">save this</button>
        <button id="save-this-and-future-events" class="focusable">save t&fe</button>
        <button id="clude-this-event" class="focusable">{{ 'exclude' if event.exclude == '0' else 'include' }}</button>
        <button id="clude-all-these-events" class="focusable">{{ 'exclude' if event.exclude == '0' else 'include' }} all</button>
        <button id="delete-this" class="focusable">delete</button>
        <button id="delete-all" class="focusable">delete all</button>
        <button id="delete-tafe" class="focusable">delete t&fe</div>
    </div>
</div>