{% extends 'base.html' %}

{% block content %}
	<button id="expand">☰</button>
	<div id="left-panel">
		<header id="left" style="background:url({{ url_for('static', filename='wallpaper01.webp') }})">
			<h3>
				<div>Regular Expenses</div>
			</h3>
			<div class="table" id="expenses">
				<div class="tr">
					<div class="th">Expense</div>
					<div class="th">Frequency</div>
					<div class="th">Amount</div>
					<div class="th">Start Date</div>
					<div class="th">End Date</div>
				</div>
				{% for expense in data.account.expenses %}
					{% include 'app/expense.html' %}
				{% endfor %}
			</div>
			<div class="tr button-row-right">
				<button class="add-expense">+</button>
				<button id="refresh-calendar">↺</button>
			</div>
		</header>
	</div>
	<div id="main">
		<div id="calendar-month-header" data-year="{{ data.account.year }}" data-month="{{ data.account.month }}">
	        <div>
	          <h1 id="month-name">{{ data.MONTHS[data.account.month - 1] }}</h1>&nbsp;&nbsp;
	          <h1 id="year-name" style="font-weight:100">{{ data.account.year }}</h1>
	        </div>
			<div id="data" class="search">
				<input style="display:none;" type="test" placeholder="Go for it!" />
			</div>
			<div>
				<button id="prev-month">
					<span>
						∟
					</span>
				</button>
				<button id="go-to-today">
					Today
				</button>
				<button id="next-month">
					<span>
						∟
					</span>
				</button>
			</div>
		</div>

		<div id="calendar-week-header">
			<div class="weekend">Sun</div>
			<div>Mon</div>
			<div>Tue</div>
			<div>Wed</div>
			<div>Thu</div>
			<div>Fri</div>
			<div class="weekend">Sat</div>
		</div>

		<div id="calendar">
			{% include 'app/calendar.html' %}
		</div>
		
	</div>
	<div id="right-panel">
		<main id="right-main">
			<div id="x-axis"></div>
			<div id="y-axis"></div>
			<div id="z-axis"></div>
			<div id="container">
				<div id="Peter">
					<div class="face front"></div>
					<div class="face back"></div>
					<div class="face left"></div>
					<div class="face right"></div>
					<div class="face top"></div>
					<div class="face bottom"></div>
				</div>
			</div>
		</main>
	</div>
{% endblock %}