.event-title {
	display: flex;
	flex-direction: column;
	width: 30%;

	h1, h2 {
		margin: 0;
	}

	section {
		white-space: pre-wrap;
	    flex-wrap: wrap;
	    display: flex;
	    overflow: auto;
		overflow-x: hidden;
		text-overflow: ellipsis;
		white-space: pre-wrap;

	    a {
	    	margin: 0.1rem;
	    	color: blue;

	    	&:hover {
	    		color: red;
	    	}
	    }
	}
}

.news {
	padding: 0.2rem;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	height: calc(100% - 1.5rem);
	margin-top: 1.5rem;

	#news-viewer {
		width: 70%;
		overflow: scroll;
		flex-grow: 1;
		padding: 0.1rem;
		box-sizing: border-box;
	}
}