<div *ngIf="sync()" id="main" class="authenticated" (click)="blurMain($event)">
	<div id="calendar-month-header" [attr.data-year]="sync().account.year" [attr.data-month]="sync().account.month">
        <div>
          <h1 id="month-name">{{ sync().months[sync().account.month - 1] }}</h1>&nbsp;&nbsp;
          <h1 id="year-name" style="font-weight:100">{{ sync().account.year }}</h1>
        </div>
		<div id="data" class="search">
			<input #searchbar type="text" placeholder="Search" [class.searching]="searching()" applyfocus />
			<ul *ngIf="beans" [style.width.px]="searchWidth">
				@for (bean of beans; track bean.name) {
					<li>{{ bean.name }}</li>
				}
			</ul>
		</div>
		<div>
			<button id="prev-month" (click)="prevMonth()">
				<span>
					∟
				</span>
			</button>
			<button id="go-to-today" (click)="currentMonth()">
				Today
			</button>
			<button id="next-month" (click)="nextMonth()">
				<span>
					∟
				</span>
			</button>
		</div>
	</div>

	<div id="calendar-week-header">
		<div class="weekend">Sun</div>
		<div>Mon</div>
		<div>Tue</div>
		<div>Wed</div>
		<div>Thu</div>
		<div>Fri</div>
		<div class="weekend">Sat</div>
	</div>

	<app-calendar></app-calendar>
</div>

