<div id="main" class="authenticated" (click)="blurEvent($event)">
	<div id="calendar-month-header" [attr.data-year]="sync().account.year" [attr.data-month]="sync().account.month">
        <div>
          <h1 id="month-name">{{ sync().months[sync().account.month - 1] }}</h1>&nbsp;&nbsp;
          <h1 id="year-name" style="font-weight:100">{{ sync().account.year }}</h1>
        </div>
		<div id="data" class="search">
			<input style="display:none;" type="test" placeholder="Go for it!" />
		</div>
		<div>
			<button id="prev-month" (click)="prevMonth()">
				<span>
					∟
				</span>
			</button>
			<button id="go-to-today" (click)="currentMonth()">
				Today
			</button>
			<button id="next-month" (click)="nextMonth()">
				<span>
					∟
				</span>
			</button>
		</div>
	</div>

	<div id="calendar-week-header">
		<div class="weekend">Sun</div>
		<div>Mon</div>
		<div>Tue</div>
		<div>Wed</div>
		<div>Thu</div>
		<div>Fri</div>
		<div class="weekend">Sat</div>
	</div>

	<app-calendar></app-calendar>
</div>