<header *ngIf="sync()" id="left" style="background:url(/wallpaper01.webp)">
	<button (click)="logout()">logout</button>
	<h3>
		<div>Regular Expenses</div>
	</h3>
	<div class="table" id="expenses">
		<div class="tr">
			<div class="th">Expense</div>
			<div class="th">Frequency</div>
			<div class="th">Amount</div>
			<div class="th">Start Date</div>
			<div class="th">End Date</div>
		</div>
		@for (expense of sync().account.expenses; track expense.id) {
			<expense [expense]="expense" [frequencies]="sync().frequencies"></expense>
		}
	</div>
	<div class="tr button-row-right">
		<button class="add-expense" (click)="addExpense()">+</button>
		<button id="refresh-calendar" (click)="refreshCalendar()">↺</button>
	</div>
	<h3>Debts</h3>
	<div class="table" id="debts">
		<div class="tr">
			<div class="th">Creditor</div>
			<div class="th">Account Number</div>
			<div class="th">Balance</div>
			<div class="th">Interest</div>
			<div class="th">Payoff Date</div>
			<div class="th">Event</div>
		</div>
	
	</div>
	<div class="tr button-row-right">
		<button id="add-debt">+</button>
	</div>
</header>