{% extends 'base.html' %}


{% block content %}
	<main>
		<h1>{% block title %}Register{% endblock %}</h1>
		<nav>
		    <h1>Finance Calendar</h1>
		    <ul>
		        {% if g.user %}
		            <li><span>{{ g.user['username'] }}</span></li>
		            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
		        {% else %}
		            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
		            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
		        {% endif %}
		    </ul>
		</nav>
		<form method="post">
			<label for="name">Username</label>
			<input name="name" id="username">
			<label for="password">Password</label>
			<input type="password" name="password" id="password">
			<input type="submit" value="Register">
		</form>
	</main>
{% endblock %}