<div class="day-block {{ 'weekend' if d.day == 'Sunday' or d.day == 'Saturday' else '' }} {{ 'first-of-month' if d.date == 1 else '' }}"
     data-date="{{ d.date }}" data-dow="{{ d.day }}" data-year="{{ d.year }}" data-month="{{ d.month }}" data-monthname="{{ data.MONTHS[d.month - 1] }}">
  <div class="day-header">
    {% if d.today or (d.todayOrLater and d.events | length > 0) %}
      <div class="total">
        {% if d.today %}
            <input type="number" value="{{ d.total }}" id="total-input" />
        {% else %}
          {{ d.total }}
        {% endif %}
      </div>
    {% endif %}
    <div class="day-date {{ 'today' if d.today else '' }}">
      {{ d.date }}
    </div>
  </div>
</div>
