<div class="tr data" id="{{ expense.id }}">
	<input class="td" type="text">
	<div class="td select-container">
		<input class="select" type="text" placeholder="frequency" data-option="" data-options="{{ data.frequency }}">
	</div>
	<input class="td" type="number" value="{{ expense.amount }}">
	<input class="td" type="date" value="{{ datetime.now().strftime('%Y-%m-%d') if expense.startdate == None else expense.startdate }}">
	<input class="td" type="date" value="{{ datetime.now().strftime('%Y-%m-%d') if expense.recurrenceenddate == None else expense.recurrenceenddate }}">
	<button class="delete-expense">-</button>
</div>